/* Styles for all odd numbered elements */
.odd {
  background-color: lightpink;
  font-family: "Verdana", "DejaVu Sans", sans-serif;
}

/* Style for the second element (ID) */
#unique {
  color: blue;
  font-size: 36px;
}

/* Styles for the third element (class) */
.cool-class {
  font-size: 24px;
  background-color: lightpink;
}

/* Style for the fourth element (ID) */
#another-unique {
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}


/* grouping two classes together */
.Uniqo,
.Uniqo-1 {
font-size: 28px;
font-family: "Helvetica","Times New Roman",sans-serif;
/* using inline-block to place the text sidewide not on top of each other */
display: inline-block;
}
/* applying an individual style */
.Uniqo{
  background-color: black;
  color: white;

}
/* applying an individual style */
.Uniqo-1{
  background-color: yellow;
  text-align: right;

}