/* Styles for all odd numbered elements */
.odd {
  background-color: lightpink;
  font-family: "Verdana", "DejaVu Sans", sans-serif;
}

/* Style for the second element (ID) */
#unique1 {
  color: blue;
  font-size: 36px;
}

/* Styles for the third element (class) */
.cool-class {
  font-size: 24px;
  background-color: lightpink;
}

/* Style for the fourth element (ID) */
#unique2 {
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}


